#adicione aqui o database url do seu banco de dados local
#rode o npx prisma seed caso tenha duvida entre la no prisma aqui ou na propia documentacao dele mesmo

DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
NODE_ENV=
